# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# -------------------------
# Node Module
# -------------------------
Application_Prototype\mvp_v1\frontend\node_modules

# -------------------------
# Virtual Environments
# -------------------------
venv/
.venv/
env/
ENV/

# -------------------------
# Environment Variables
# -------------------------
.env
.env.*
!.env.example

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Database
# -------------------------
*.db
*.sqlite3

# -------------------------
# IDEs & Editors
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Testing / Coverage
# -------------------------
.coverage
htmlcov/
.pytest_cache/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Mypy
# -------------------------
.mypy_cache/

# -------------------------
# DB_Credentials
# -------------------------
ai_compass_at_supabase.txt

# -------------------------
# Excel Files
# -------------------------
dimensions_table_output.txt
*.xlsx
*.csv

# -------------------------
# VS Code Workspace
# -------------------------
ai-compass.code-workspace